* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #1d428a;
    color:#ffffff;
    font-size: 16p;
    line-height: 1.5;
    
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #c8102e;
    font-family: 'Battambang', cursive;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
} 

.header {
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 600px;
    padding-top: 10px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxe .container {
    display: flex;
    justify-content: space-between;
}

.navbar a:hover{
    color:#fffd
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*  height: 160%; */
} 

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 10px;
}

span {
    font-family: 'Satisfy', cursive;
    color: transparent;
    font-size: 1.3em;
    -webkit-text-stroke: 0.1px #fff;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
}

th {
    font-family: 'Battambang', cursive;
    font-size: larger;
    font-variant: small-caps;
    color:#1d428a;
    letter-spacing: 0.2em;
    background-color: #fffe;
    padding: .5em 0;
}

td {
    padding: 1em 0 0 0; 
}

.home {
    text-align: right;
    padding-right: 1em;
    width: 35%;
}

.away {
    text-align: left;
    padding-left: 1em;
    width: 35%;
}

.score {
    text-align: center;
    width: 5%;
}

.matchRow {
    visibility: hidden;
}

footer {
    text-align: center;
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospace;

}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #1d428ac;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}